.category-button > a:hover {
  text-decoration: none;
}
.category-button > a:visited {
  text-decoration: none;
}

.category-spline {
  display: flex;
  max-width: calc(50vw - 1rem);
  height: unset !important;
  aspect-ratio: 1/1;
}

.category-info {
  padding: 0.5rem 1rem;
}

.material {
  text-align: right;
  font-size: 0.6rem;
}

.name-price {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
}
.category-link-btn {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  padding: 0 0.25rem;
}

@media screen and (min-width: 40rem) {
  .category-spline {
    height: 80% !important;
  }

  .material {
    font-size: 1rem;
  }

  .name-price {
    font-size: 1.2rem;
  }

  .category-link-btn {
    font-size: 1rem;
  }
}

@media screen and (min-width: 70rem) {
  .category-spline {
    height: 79% !important;
    aspect-ratio: unset;
  }
}
