.shop-wrapper {
  max-width: 100vw;
  overflow: hidden;
}

.shop-row {
  margin: 0 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.shop-row-flipped {
  margin: 0 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.spline {
  max-width: calc(50vw - 1rem);
  aspect-ratio: 1/1;
}

.bg-s-dg {
  background-color: var(--secondary-dark-green);
}
.bg-s-lg {
  background-color: var(--secondary-light-green);
}
.bg-s-bg {
  background-color: var(--secondary-blue-green);
}
.bg-s-b {
  background-color: var(--secondary-blue);
}

.bottom-margin {
  margin-bottom: 1rem;
}

@media screen and (min-width: 45rem) {
  .spline-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .spline {
    aspect-ratio: unset;
    height: 80% !important;
  }

  .shop-row {
    grid-template-columns: 1.8fr 1fr;
  }

  .shop-row-flipped {
    grid-template-columns: 1fr 1.8fr;
  }
}

@media screen and (min-width: 90rem) {
  .shop-row,
  .shop-row-flipped {
    grid-template-columns: 1fr 1fr;
    margin: 0;
  }
  .spline {
    height: 80% !important;
  }
  .shop-wrapper {
    display: flex;
    margin: 0 1rem;
  }
  .shop-left,
  .shop-right {
    width: 50vw;
  }
}
